<table class='table'>
      <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no-image.jpg") %></tr> 
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      <tr>
        <th>follows</th>
        <th><%= link_to user.follower.count, user_follows_path(user) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to user.followed.count, user_followers_path(user) %></th>
      </tr>
</table>

<% unless user == current_user %>
  <% if current_user.following?(user) %>
    <%= link_to "フォロー外す", unfollow_path(user.id), method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "フォローする", follow_path(user.id), method: :post, class: "btn btn-success" %>
  <%end %>
<% end%>

<% if user == current_user %>
<div class='row'>
  <%= link_to '',edit_user_path(user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>
<% end %>